*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header_text {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    vertical-align: middle;
}
